
.lista{
    margin: 5rem;
    padding: 1rem;
    height: auto;
    width: 25rem;
    border: 2px solid blueviolet;
}

li{
    padding: 1rem;
    font-size: x-large;
    font-weight: bold;
}
h1{
    text-align: center;
}
p{
    color: black;
}